body {
    background: url('../images/texturetastic_gray.png');
}

.main-container {
    background: white;
    padding-top: 15px;
    padding-bottom: 15px;
    max-width: 1140px;
    box-shadow: 4px 4px 4px rgb(136, 136, 136);
}

.footer {
    margin-top: 0px;
    margin-bottom: 25px;
    max-width: 1140px;
    color: white;
    background: rgb(55, 55, 55);
    box-shadow: 4px 4px 4px rgb(136, 136, 136);
}
